@import 'mixins';
@import 'prompt';
@import 'colors';
@import 'header';
@import 'browser';
@import 'grid';
@import 'config';
@import 'entry';
@import 'new-user';

body {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  margin-top: 50px;
  padding-bottom: 50px;
}

input[type=text] {
  width: 300px;
  height: 50px;
  border-radius: none;
  font-size: 24px;
  padding: 0 10px;
}

button {
  padding: 15px;
  height: 30px;
  line-height: 30px;
  border: none;
  outline: none;
  background-color: $purple;
  color: white;
  font-size: 16px;
  cursor: pointer;
  line-height: 0;

  &.secondary {
    background-color: $gray;
  }
}

.fade {
  position: absolute;
  height: 3.6em; /* exactly three lines */
  bottom: 0;
  width: 100%;
}
.fade:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 5.2em;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 55%,rgba(255,255,255,1) 100%);
}

.text {
  color: $navy;
}

.collection-creator {
  margin: 0 auto;
  position: relative;
  top: 30px;
  width: 700px;

  .create-header {
    color: $green;
    text-align: center;
    margin-bottom: 15px;
    h2 {
      margin: 0;
    }
  }

  .prompt-preview {
    margin-top: 30px;
  }

  .create {
    width: 300px;
    height: 70px;
    margin: 30px auto;
    display: block;
    outline: none;
    border: none;
    color: white;
    background-color: $green;
    border-radius: 5px;
    font-size: 22px;
  }
}

.spinner {
  margin: 50px;
  height: 1.5em;
  width: 1.5em;
  animation: rotate 0.8s infinite linear;
  border-width: 0.4em;
  border-style: solid;
  border-color: $gray;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.white-spinner {
  @extend .spinner;
  border-color: white;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

.genre-picker {
  @include clearfix;
  width: 540px;
  margin: 0 auto;
  text-align: center;
  vertical-align: bottom;
  .genre {
    width: 150px;
    height: 100px;
    float: left;
    margin-right: 30px;
    background-color: $lightgray;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  .label {
    color: white;
  }
}

.modal-content {

  > div:first-child {
    outline: none;
    padding: 30px;
    padding-top: 15px;
    background-color: white;
    border-radius: 3px;
    outline: none;
    text-align: center;
  }

  h1 {
    color: $gray;
    font-weight: 700;
    font-size: 26px;
    line-height: 16px;
    padding-bottom: 12px;
  }

  p {
    font-size: 14px;
    line-height: 1.5em;
    margin: 1em 0;
  }
}
