@import 'mixins';
@import 'prompt';
@import 'colors';
@import 'header';
@import 'browser';
@import 'grid';
@import 'config';

body {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

input[type=text] {
  width: 300px;
  height: 50px;
  border-radius: none;
  font-size: 24px;
  padding: 0 10px;
}

.text {
  color: $navy;
}

.collection-creator {
  margin: 0 auto;
  position: relative;
  top: 30px;
  width: 700px;

  .create-header {
    color: $green;
    text-align: center;
    margin-bottom: 15px;
    h2 {
      margin: 0;
    }
  }

  .prompt-preview {
    margin-top: 30px;
  }

  .create {
    width: 300px;
    height: 70px;
    margin: 30px auto;
    display: block;
    outline: none;
    border: none;
    color: white;
    background-color: $green;
    border-radius: 5px;
    font-size: 22px;
  }
}

.spinner {
  margin: 50px;
  height: 1.5em;
  width: 1.5em;
  animation: rotate 0.8s infinite linear;
  border-width: 0.4em;
  border-style: solid;
  border-color: $gray;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.white-spinner {
  @extend .spinner;
  border-color: white;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

.genre-picker {
  @include clearfix;
  width: 540px;
  margin: 0 auto;
  text-align: center;
  vertical-align: bottom;
  .genre {
    width: 150px;
    height: 100px;
    float: left;
    margin-right: 30px;
    background-color: $lightgray;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  .label {
    color: white;
  }
}

.modal-content {

  > div:first-child {
    outline: none;
    padding: 30px;
    padding-top: 15px;
    background-color: white;
    border-radius: 3px;
    outline: none;
    text-align: center;
  }

  h1 {
    color: $gray;
    font-weight: 700;
    font-size: 26px;
    line-height: 16px;
    padding-bottom: 12px;
  }

  p {
    font-size: 14px;
    line-height: 1.5em;
    margin: 1em 0;
  }
}
