@import 'colors';

.config-container {
  background-color: $superlightgray;
  padding: 15px;

  .collection-config {
    width: 750px;
    margin: 0 auto;
    .left, .right {
      display: inline-block;
      vertical-align: top;
    }
    .left {
      width: 460px;
      margin-right: 10px;
    }
    .right {
      width: 270px;
    }
    .input-group {
      input {
        width: 90%;
      }
    }
    .label, .prompt-label {
      color: $gray;
      font-size: 18px;
      margin-bottom: 5px;
      display: block;
    }
    .prompt-label {
      margin-top: 15px;
    }
  }

  .description {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    margin-top: 3px;
  }

  .guidelines {
    display: inline-block;
    margin: 0;
    padding: 10px;
    list-style-type: none;
    li:before{
      content:"-";
      position:relative;
      left:-5px;
    }
  }

}
