@import 'colors';

.layout {
  width: 900px;
  margin: 0 auto;

  .react-grid-item {
    background-color: $lightgray;
    padding: 15px;
    box-sizing: border-box;
    margin: 20px;
    overflow: hidden;
    .title {
      color: white;
      font-size: 20px;
      margin-bottom: 5px;
    }
    .content-preview {
      color: $gray;
    }
    .attribution {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 40px;
      width: 100%;
      background-color: white;
      border: 1px solid $lightgray;
      box-sizing: border-box;
      cursor: pointer;
    }
  }


  .react-grid-item-dragging {
    z-index: 100;
  }

  .react-grid-placeholder {
    background-color: white;
    border: 1px solid $lightgray;
    z-index: 0;
  }

}
