@import 'colors';

.layout {
  width: 900px;
  margin: 0 auto;

  .react-grid-item {

    .entry-prev-container {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: $lightgray;
      padding: 15px;
      box-sizing: border-box;
      overflow: hidden;
      &.is-published {
        background-color: white;
        padding: 5px;
        .react-resizable-handle {
          display: none;
        }
      }
      .title {
        color: white;
        font-size: 20px;
        margin-bottom: 5px;
      }
      .content-preview {
        color: $gray;
      }
      .attribution {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 40px;
        width: 100%;
        background-color: white;
        border: 1px solid $lightgray;
        box-sizing: border-box;
        cursor: pointer;
      }
    }
  }

  .read-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: white;
  }

  .react-grid-item-dragging {
    z-index: 100;
  }

  .react-grid-placeholder {
    background-color: white;
    border: 1px solid $lightgray;
    z-index: 0;
  }

}

.for-teacher {
  .is-published {
    &:hover {
      border: 1px solid $lightgray;
      .react-resizable-handle {
        display: block;
      }
    }
  }
}
