@import 'colors';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid $gray;
  z-index: 100;
  background-color: white;

  .container {
    padding-top: 5px;
    max-width: 900px;
    margin: 0 auto;
  }

  .logo {
    width: 130px;
    float: left;
    img {
      width: 100%
    }
  }

  nav {
    float: right;
    color: $green;
    line-height: 53px;
    a {
      margin-right: 20px;
      &:first-child {
        font-weight: bold;
      }
    }
    .active {
      font-weight: bold;
    }
  }
}
