@import 'colors';

.prompt {
  width: 700px;
  border: 1px solid $lightgray;
  border-radius: 5px;

  .description {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 15px;
    width: 300px;
    font-size: 26px;
  }

  .guidelines {
    display: inline-block;
    width: 300px;
  }
}
